.correction-table {
  padding: 1rem;
  .table-head {
    padding: 0.5rem;
    color: white;
    font-weight: bold;
  }
  .table-row {
    border-bottom: 1px solid #9d9fa6;
  }
  .table-caption {
    font-weight: bold;
  }
}
