<div class="graph">
  <div class="legend-container">
    <span class="legend-element" *ngFor="let item of legend"><ion-text class="text-bold">{{ item.value }}: </ion-text>{{ item.label }}</span>
  </div>
  <div class="graph-container">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>