<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <div class="avatar-container">
    <ion-avatar  class="avatar">
      <img src="assets/images/hamster-avatar.jpg">
    </ion-avatar>
  </div>
  

  <div class="welcome-container">
    <strong class="capitalize">Welcome!</strong>
    <p>Choose an option from the side menu</p>
  </div>
</ion-content>
